sudo: false
language: python

python:
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - pypy
env:
  - TOX_ENV=core
jobs:
  include:
    - python: 3.8
      env: TOX_ENV=flake8

install: pip install .[dev]
script: tox -e $TOX_ENV
